@charset "UTF-8";

.container-fixed {
    max-width: 1080px;
	margin: 0 auto;
}
body {
    font-family: "Avenir Light", "Muli", "Questrial";
	font-style: normal;
    color: white;
    font-kerning: 15px;
    text-align: center;
}
h1 {
   font-family: "Avenir Light", "Muli", 
}
h2 {
   font-family: "Avenir Light", "Muli", 
}

/*Navigation Starts*/
nav {
font-family: "Avenir Medium", "Muli", "Questrial";
	font-size: 0.85em;
	background-color: #B7B7B7;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 300px;
	padding-top: 10px;
    font-weight: bold;
    text-align: center;
	clear: both; 
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: -50px;
  margin-top: -10px;
   font-kerning: 20px;
}
.navbar-nav > li{
  padding-left: 27px;
  padding-right: 27px;
}
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
/*Navigation Endss*/


/*Logo and Header Starts*/
header { 
    margin-top: 0px;
    white-space: nowrap;
}
.btn .btn-warning { 
       font-size: 20px;
       font-weight: bold;
       font-family: "Avenir Medium", "Muli", "Questrial";
       background-color: #9F418F;
       border-color: #9F418F;
       margin-left: 10px;
}
.button p {
    font-size: 14px;
    font-weight: bold;
    font-family: "Avenir Medium", "Muli", "Questrial";
}
#logo .logoimg {
    display: inline-block;
    float: left;
    margin-left: 10px;
}
#logo .icons {
    font-size: 28px;
    float: right;
    margin-right: 15px;
    padding-top: 2.7px;
}
/*Logo and Header Ends*/


/*Video Starts*/
#videogrp {
    text-align: center;
    margin-bottom: -45px;
}
#video {
    width: auto;
    text-align: center;
    max-height: 400px;
    height: auto;
    margin-top: -20px;   
}
#videogrp h4 {
    z-index: 1000;
    position: relative;
    top:-300px;
    margin-bottom: -100px;
    padding-bottom: -200px; 
    margin-left: 20px;
    margin-right: 20px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-family: "Avenir Light", "Muli", "Questrial";
    font-size: 25px;
    line-height: 30px;
    text-shadow: black;
}
#videogrp a {
    z-index: 1000;
    position: relative;
    top:-90px;
    padding-bottom: -200px; 
    font-size: 20px;
}
/*Video Ends*/


/*EMAIL*/
.signup-1 {
    text-align: center;
    padding-top: 12px;
    margin-bottom: 12px;
}
.signup-1 .icons {
    font-size: 25px;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 5px;
    color: #5B5C5C;
    display: inline-block;
}
.email-wrap fa {
    color: #5B5C5C;
}
/*Email/Icons Ends*/


/*About Section Starts*/
#about {
	background-color: #3F403F;
	color: #FFFFFF;
	padding-top: 13px;
	padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.aboutus {
    text-align: center;
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 0px;
}
#about h1 {
      font-family: "Avenir Medium", "Muli", "Questrial";
      font-size: 20px;
      line-height: 35px;
}
.mission {
    text-align: center;
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 10px;
}
#about h2 {
       font-family: "Avenir Medium", "Muli", "Questrial";
       font-size: 16px;
       line-height: 30px;
}
#about img {
    margin-bottom: -10px;
}
/*About Section Ends*/

#triangle1 {
    text-align: center;
}

#triangle1 .triangle-down {
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #3F403F;
    display: inline-block;
    font-size: x-small;
    position: relative;
    top: -40px;
    z-index: 1000;
    margin-bottom: -50px;
    padding-bottom: -90px;
}


/*Image Section Starts*/
#image {
    text-align: center;
    max-height: 400px;
    height: auto;
    margin-top: 0px; 
    width: auto;
    padding-top: -20px;
    margin-top: -20px;
}
/*Image Sections Ends*/


/*How Section Starts*/
#how .buttonNav {
    text-align: center;
    padding-top: 15px;
    line-height: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
#how {
    background-color: white;
    margin-top: 30px;
    font-family: "Avenir Light", "Muli", "Questrial";
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}

#how h3 { 
    margin-bottom: -2px;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
    font-size: 22px;
    font-family: "Avenir Light", "Muli", "Questrial";
}
#how h4 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 30px;
}
#how .thumbnail {
    border: 0 none;
    box-shadow: none;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 11.5px;
}
.thumbnail:hover {
    text-decoration:underline;  
}
#how .splitter {
    margin-top: -25px;
    margin-bottom: -20px;
}
#how .btn btn-success {
     font-size: x-small;
}
/*How Section Ends*/

#triangle2 {
    text-align: center;
}

#triangle2 .triangle-down {
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid white;
    display: inline-block;
    font-size: x-small;
    position: relative;
    top: -20px;
    z-index: 1000;
    margin-bottom: -50px;
    padding-bottom: -90px;
}

/*Involve Section Starts*/
#involve {
    background: #BCBAB5;
    color: white;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Avenir Light", "Muli", "Questrial";
    padding-bottom: 30px;
}
#involve .col-md-4 {
    border-top: dotted;
    border-right: dotted;
    border-width: 1px;
}
#involve h3{
    font-size: 22px;
}
#involve h5 {
    color: #3F403F;
    margin-top: 20px;
    font-size: 17px;
}
#involve p {
    color: #3F403F;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
}
#involve .btn {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
}
/*Involve End Starts*/


/*Project Section Starts*/
#projects {
    text-align: center;
    background: #3F403F;
    color: white;
    line-height: 50px;
    font-family: "Avenir Light", "Muli", "Questrial";
    margin-top: -20px;
    max-width: 100%;
}
#projects img {
    max-height: 274px;
}  
#projects h4 {
    margin-top: 30px;
}
#projects a {
    margin-top: -20px;
    margin-bottom: 0px;
    clear: both;
}
#projects .splitter {
    text-align: center;
    font-size: 10px;
    margin-top: -30px;
}
#projects .img {
    max-width: 100%;
    max-height: 100%
}
/*Project Section Ends*/


/*Contact Section Starts*/
#contact {
    padding-top: 5px;
    text-align: center;
    background-color: #5B5C5C;
    padding-bottom: 5px;
    color: white;
    font-family: "Avenir Medium", "Muli", "Questrial";
}
#contact h3 {
    font-size: bold;
}
#contact .address {
    line-height: 12px;
    font-kerning: 10px;
}
#contact .email {
    font-kerning: 10px;
    margin-top: 15px; 
    margin-bottom: 15px;
}
/*Contact Section Ends*/

#triangle3 {
    text-align: center;
}
#triangle3 .triangle-down {
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 30px solid #5B5C5C;
    display: inline-block;
    font-size: x-small;
    position: relative;
    top: -46px;
    z-index: 1000;
    margin-bottom: -50px;
    padding-bottom: -90px;
}

/*Footer Section Starts*/
#backtotop {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
/*#backtotop img {
    margin-top: -40;
    margin-bottom:-20px;
}*/
#backtotop:hover {
    text-decoration: underline;
}

footer {
    max-width: 1080px;
    font-family: "Muli", "Questrial", "Avenir Medium";
    position: static;
    height: 35px;
    background-color: #B7B7B7;
    display: inline-block;
}
.text-muted {
   font-family: "Muli", "Questrial", "Avenir Medium";
   margin-top: 8px;
   float: left;
   margin-left: 20px;
   font-size: 14px;
}
.signup-2 {
    float: right;
    padding-right: 50;
    margin-top: 5px;
    font-size: small;
    margin-right: 20px;
}
.signup-2 .icons {
    float: right;
    margin-left: 10px;
    font-size: 20px;
    color: #3F403F;
}

/*Footer Section Ends*/

.resrc {
    width: 100%
}
